.word {
  margin-left: 1%;
  margin-right: 4%;
  border-style: solid;
  border-left-width: 1.5px;
  border-right-width: 0px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-color: brown;
  border-radius: 5px;
  padding-left: 10px;
  width: 95%;
  color: black;
}
.wordLi {
  color: black;
}
.wordCount {
  margin-left: 15px;
  color: grey;
}
